# Created by venv; see https://docs.python.org/3/library/venv.html

# Virtualenv
venv/

# Environment variables
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema
.DS_Store
Thumbs.db