# Created by venv; see https://docs.python.org/3/library/venv.html

# Virtualenv
venv/

# Environment variables
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3

# Logs
*.log

# Migrations (como é um projeto pessoal, não quero versionar as migrações,
# mas quero manter o arquivo __init__.py para que o Django reconheça a pasta como um pacote)
*/migrations/*.py
!*/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# Sistema
.DS_Store
Thumbs.db